html, body {
    height: 100%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    font-weight: bold;
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 75%;
    padding: 2rem;
}

.results {
    height: 7em;
    margin: 0 auto 1.25em auto;
    border: 1px dashed lightgray;
    border-radius: 10px;
}

button {
    display: block;
    margin: 0 auto;
}

footer {
    height: 50px;
    flex-shrink: 0;
}