html,
body {
    height: 100%;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    background: #333333;
    background: -webkit-linear-gradient(top left, #333333, #000000);
    background: -moz-linear-gradient(top left, #333333, #000000);
    background: linear-gradient(to bottom right, #333333, #000000);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    font-weight: bold;
    font-size: 1.5rem;
}

main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 75%;
    padding: 2em;
    margin-top: -5rem;
}

#results {
    height: 2em;
    line-height: 2em;
    padding: 4em 2em;
    max-width: 32em;
    margin: 0 auto 1.25em auto;
    border: 1px dashed lightgray;
    border-radius: 10px;
}

button {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    width: 20rem;
    padding: .5rem;
    border: 0;
    background-color: #1de9b6;
}

footer {
    height: 50px;
    flex-shrink: 0;
}